

<h1 class= "title is-2">Posts</h1>

  <tbody>
    <% @posts.each do |post| %>
    <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <strong><%= post.title %></strong><br>
                        <% if user_signed_in? %>
                        <small><%= post.user.email %></small><br>
                        <% end %>
                        <p><%= post.content %></p>
                    </div>
                </div>
            </article>
        </div>
    <% end %>

<br>

<%= display_button_new(current_user)%>